 

<a href="/">Back</a>


<h2>The Childcare App is coming soon! </h2>

<p>Please enter your information below to sign up</p>
<!--<a href="/signup">Sign Up</a>-->

<form class="form-horizontal" ng-model="user" ng-submit="signUp()" role="form">
    <div class="form-group">
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="user.firstName" id="firstName" placeholder="First Name">
        </div>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="user.lastName" id="lastName" placeholder="Last Name">
        </div>

        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="user.city" id="city" placeholder="City">
        </div>
        <div class="col-sm-8">
            <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="Email">
        </div>

        <div class="col-sm-8">
            <input type="submit" class="btn btn-primary" value="Sign up" />
        </div>
    </div>
</form>


<p><a href="#/signedusers">View</a> signed up users</p>
