<a href="/">Back</a>


<h2>The Childcare App is coming soon! </h2>

<p>Please enter your information below to sign up</p>
<!--<a href="/signup">Sign Up</a>-->

<form class="form-horizontal" name="signupForm" ng-model="user" ng-submit="signUp()" role="form">
    <div class="form-group">
        <div class="col-sm-8">
            <input type="text" class="form-control" name="fname" ng-model="user.firstName" id="firstName" placeholder="First Name" ng-minlength="2" ng-maxlength="16" ng-pattern="/^[a-zA-Z]+$/" required>
            <div ng-show="signupForm.fname.$dirty && signupForm.fname.$invalid">
                <div ng-show="signupForm.fname.$error.minlength">Your first name must be at least 2 characters long</div>
                <div ng-show="signupForm.fname.$error.maxlength">Your first name must be less than 16 characters</div>
                <div ng-show="signupForm.fname.$error.required">Your first name is required</div>
                <div ng-show="signupForm.fname.$error.pattern">Only alpha characters are accepted</div>

            </div>
        </div>

        <div class="col-sm-8">
            <input type="text" class="form-control" name="lname" ng-model="user.lastName" id="lastName" placeholder="Last Name" ng-minlength="2" ng-maxlength="16" ng-pattern="/^[a-zA-Z]+$/" required>
            <div ng-show="signupForm.lname.$dirty && signupForm.lname.$invalid">
                <div ng-show="signupForm.lname.$error.minlength">Your last name must be at least 2 characters long</div>
                <div ng-show="signupForm.lname.$error.maxlength">Your last name must be less than 16 characters</div>
                <div ng-show="signupForm.lname.$error.required">Your last name is required</div>
                <div ng-show="signupForm.lname.$error.pattern">Only alpha characters are accepted</div>
            </div>
        </div>

        <div class="col-sm-8">
            <input type="text" class="form-control" name="city" ng-model="user.city" id="city" placeholder="City" ng-minlength="2" ng-maxlength="16" ng-pattern="/^[a-zA-Z]+$/" required>
            <div ng-show="signupForm.city.$dirty && signupForm.city.$invalid">
                <div ng-show="signupForm.city.$error.minlength">City name must be at least 2 characters long</div>
                <div ng-show="signupForm.city.$error.maxlength">City name must be less than 16 characters</div>
                <div ng-show="signupForm.city.$error.required">City name is required</div>
                <div ng-show="signupForm.city.$error.pattern">Only alpha characters are accepted</div>
            </div>
        </div>
        <div class="col-sm-8">
            <input type="email" class="form-control" name="email" ng-model="user.email" id="email" placeholder="Email" ng-minlength="2" ng-maxlength="40" required>
            <div ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                <div ng-show="signupForm.email.$error.minlength">Email must be at least 2 characters long</div>
                <div ng-show="signupForm.email.$error.maxlength">email must be less than 22 characters</div>
                <div ng-show="signupForm.email.$error.required">Email is required</div>
            </div>

        </div>

        <div class="col-sm-8">
            <input type="submit" class="btn btn-primary" ng-disabled="signupForm.$dirty && signupForm.$invalid" value="Sign up" />
        </div>
    </div>
</form>


<p><a href="#/signedusers">View</a> signed up users</p>
